* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(kb.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 100vh;
  background-position: center;
}

.topnav-centered {
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
}

.topnav-centered a {
  /* background-color: aqua; */
  color: rgba(255, 255, 255, 0.493);
  margin: 20px;
  text-decoration: none;
}

.topnav-centered a:hover {
  color: #fff;
  cursor:cell;
}

.left {
  display: inline-block;
  color: #fff;
  font-size: 50px;
  float: left;
  padding-left: 10%;
  margin-top: 25vh;
  text-align: center;
}

.right {
  /* background-color: aqua; */
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  margin-top: 23vh;
  padding-right: 5%;
  float: right;
  width: 500px;
  text-align: justify;
  margin-bottom: 24%;
}

.center {
  text-align: center;
  width: 100%;
}

.footer {
  background-color: rgba(0, 0, 0, 0.637);
  color: #FFD700;
  display: inline-block;
  width: 100%;
  height: 30px;
  text-align: center;
  position: sticky;
  bottom: 0vh;
  padding: 10px;
  font-size: 20px;
}